<md-card class="form-card">
    <md-card-header>
        <md-card-title>New Bill</md-card-title>
    </md-card-header>
    <md-card-content>
      <section >
          <form>

            <table  cellspacing="0"><tr>
                <td><md-input-container class="example-full-width">
                  <input mdInput [(ngModel)]="bill.title" name="title" #title='ngModel' placeholder="Title"
                  required minlength="2" maxlength="23">
                </md-input-container></td>
                <div *ngIf="title.dirty">
                    <span *ngIf='title.errors; then errors else valid'>template renders here...</span>
                  </div>
                
                <td><md-input-container class="example-full-width">
                  <input mdInput #postalCode [(ngModel)]="bill.value" name="value" placeholder="Value"
                  maxlength="5"
                  >
                  <md-hint align="end">{{postalCode.value.length}} / 5</md-hint>
                </md-input-container></td>

                <td><md-input-container class="example-full-width">
                    <input mdInput [(ngModel)]="bill.category" name="categ" placeholder="Category">
                  </md-input-container></td>

              </tr>
              <tr>
                <td><md-checkbox class="example-margin" [(ngModel)]="bill.active" name="isPaid">Is Paid</md-checkbox></td>
              </tr>
              <tr>
                <td><button md-fab (click)='createBill()' ><md-icon>check</md-icon></button></td>
              </tr>
            </table>

          </form>
      </section>
    </md-card-content>
</md-card>

<ng-template #valid>
    <p class="text-success">looks good!</p>
    </ng-template>

<ng-template #errors>
    <p class="text-danger">form contains errors!</p>
    </ng-template>